<template>
  <router-view style="geral" />
</template>

<script>
export default {
  name: "App"
};
</script>

<style scoped>
.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
}
.geral {
  background-color: #7159c1;
}
</style>
