<template>
  <div>
    <span v-on:click="handleVoltarPagina()" class="backbutton">Voltar</span>
    <div class="box">
      <h2>Create User</h2>
      <h3 v-if="error">Requer todos os campos</h3>
      <h3 v-if="criado">Usuário criado</h3>
      <div class="formBlock">
        <p>Name:</p>
        <input class="input" v-model="userAdd.name" />
      </div>
      <div class="formBlock">
        <p>Avatar:</p>
        <input class="input" v-model="userAdd.avatar" />
      </div>
      <div class="formBlock">
        <p>Email:</p>
        <input class="input" v-model="userAdd.email" />
      </div>
      <div class="formBlock">
        <p>Username:</p>
        <input class="input" v-model="userAdd.username" />
      </div>
      <div class="formBlock">
        <p>Description:</p>
        <input class="input" v-model="userAdd.description" />
      </div>
      <div class="formBlock">
        <p>Address:</p>
        <input class="input" v-model="userAdd.address" />
      </div>
      <div class="formBlock">
        <p>About:</p>
        <input class="input" v-model="userAdd.about" />
      </div>
      <button class="addbutton" v-on:click="Add()">Adicionar</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
var moment = require("moment");

export default {
  name: "Add",
  data() {
    return {
      error: false,
      criado: false,
      moment: moment,
      users: [],
      userAdd: {
        id: 0,
        createdAt: "",
        name: "",
        avatar: "",
        email: "",
        username: "",
        description: "",
        address: "",
        about: "",
        active: true
      }
    };
  },
  mounted() {
    this.getUsers();
  },
  methods: {
    setTime() {
      this.userAdd.createdAt = moment().format();
    },
    Add() {
      if (
        this.userAdd.name === "" ||
        this.userAdd.avatar === "" ||
        this.userAdd.email === "" ||
        this.userAdd.username === "" ||
        this.userAdd.description === "" ||
        this.userAdd.address === "" ||
        this.userAdd.about === ""
      ) {
        this.error = true;
        this.criado = false;
      } else {
        this.setId();
        this.setTime();
        this.postUser();

        this.criado = true;
        this.error = false;

        // console.log(this.users);
        // window.location.href = "/";
      }
    },
    setId() {
      var user;
      var i;
      var n = false;
      var ids = [];
      for (user of this.users) {
        ids.push(user.id);
      }
      for (i = 1; i < ids.length; i++) {
        n = ids.includes(String(i));
        if (!n) {
          this.userAdd.id = String(i);
          return;
        } else {
          i++;
        }
      }
      this.userAdd.id = String(ids.length + 1);
      return;
    },
    async getUsers() {
      await axios
        .get("http://5f88a118a8a2b5001641ef57.mockapi.io/ruadois/api/users")
        .then(response => {
          this.users = response.data;
        });
    },
    async postUser() {
      await axios
        .post(
          "http://5f88a118a8a2b5001641ef57.mockapi.io/ruadois/api/users",
          this.userAdd
        )
        .then(response => console.log(response))
        .catch(console.error("There is an error"));

      this.handleVoltarPagina();
    },
    handleVoltarPagina() {
      window.location.href = "/";
    }
  }
};
</script>

<style scoped>
.box {
  background-color: rgb(221, 221, 221);
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  border-radius: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.formBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
.addbutton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
}
.addbutton:active {
  background-color: #3c883e;
}
.backbutton {
  cursor: pointer;
  font-size: 100%;
}
</style>