<template>
  <div class="back">
    <div class="box">
      <Pagination
        v-bind:users="users"
        v-on:pageupdate="updatePage"
        v-bind:currentPage="currentPage"
        v-bind:pageSize="pageSize"
      />
      <div v-for="user in visibleUsers" :key="user.id">
        <userItem
          v-bind:userName="user.name"
          v-bind:img="user.avatar"
          v-bind:email="user.email"
          v-bind:active="user.active"
          v-bind:id="user.id"
        />
      </div>
      <form class="addbuttonbox" action="/add">
        <button class="addbutton" href>Add User</button>
      </form>
    </div>
  </div>
</template>

<script>
import userItem from "./userItem";
// import usersList from "../../public/users.json";
import Pagination from "./Pagination.vue";
import axios from "axios";

export default {
  name: "Landing",
  components: {
    userItem,
    Pagination
  },
  data() {
    return {
      users: [],
      currentPage: 0,
      pageSize: 10,
      visibleUsers: []
    };
  },
  mounted() {
    this.getUsers();
  },
  beforeMount: function() {
    this.updateVisibleUsers();
  },
  methods: {
    updatePage(pageNumber) {
      this.currentPage = pageNumber;
      this.updateVisibleUsers();
    },
    updateVisibleUsers() {
      this.visibleUsers = this.users.slice(
        this.currentPage * this.pageSize,
        this.currentPage * this.pageSize + this.pageSize
      );

      if (this.visibleUsers.length == 0 && this.currentPage > 0) {
        this.updatePage(this.currentPage - 1);
      }
    },

    totalPages() {
      Math.ceil(this.users.length / this.pageSize);
    },
    async getUsers() {
      await axios
        .get("http://5f88a118a8a2b5001641ef57.mockapi.io/ruadois/api/users")
        .then(response => {
          this.users = response.data;
        });
      this.updateVisibleUsers();
    }
  }
};
</script>

<style scoped>
.back {
  color: #7159c1;
}
.box {
  background-color: rgb(221, 221, 221);
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  border-radius: 16px;
}
.addbuttonbox {
  text-align: center;
}
.addbutton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
}
.addbutton:active {
  background-color: #3c883e;
}
</style>