<template>
  <div v-if="totalPages() > 0" class="pag">
    <span v-if="showPreviousLink()" v-on:click="updatePage(currentPage - 1)" class="pagination-btn">
      <button class="btn">-</button>
    </span>
    {{ currentPage + 1}} of {{totalPages()}}
    <span
      v-if="showNextLink()"
      v-on:click="updatePage(currentPage + 1)"
      class="pagination-btn"
    >
      <button class="btn">+</button>
    </span>
  </div>
</template>

<script src="./Pagination.js"></script>

<style scoped>
.pagination-btn {
  cursor: pointer;
  font-size: 100%;
}
.pag {
  text-align: center;
}
.btn {
  background-color: #8d8d8d; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: none;
}
.btn:active {
  background-color: #555555;
}
</style>
