<template>
  <a class="card" :href="id">
    <img :src="img" class="image" />
    <div class="text">
      <h4 class="name">
        <p>{{userName}}</p>
      </h4>
      <p>{{email}}</p>
    </div>
    <span :class="{'activet': active, 'activef': !active}"></span>
  </a>
</template>

<script>
export default {
  name: "userItem",
  props: {
    userName: String,
    img: String,
    email: String,
    active: Boolean,
    id: String
  }
};
</script>

<style scoped>
.card {
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 16px;
  background-color: azure;
  overflow: hidden;
  text-decoration: none;
  color: #2c3e50;
}

.image {
  border-radius: 50%;
  margin-left: 10px;
  width: 12%;
}

.text {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  width: 50%;
  text-align: center;
}

.name {
  text-align: center;
}

.activef {
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.activet {
  background-color: green;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
</style>