<template>
  <div style="out">
    <span v-on:click="handleVoltarPagina()" class="backbutton">Voltar</span>
    <div v-if="!editar" class="cards">
      <article class="card">
        <header>
          <h2>{{user.name}}</h2>
        </header>
        <img :src="user.avatar" />
        <div class="content">
          <p>Username: {{user.username}}</p>
          <p>Email: {{user.email}}</p>
          <p>Description: {{user.description}}</p>
          <p>Address: {{user.address}}</p>
          <p>About: {{user.about}}</p>
          <p>Created at: {{moment(user.createdAt).format('MMMM Do YYYY, h:mm:ss a')}}</p>
        </div>
        <button class="editbutton" v-on:click="handleEditar()">Editar</button>
        <button v-on:click="deleteUser(user.id)" class="delbutton">Deletar!!!!</button>
      </article>
    </div>
    <div v-if="editar" class="box">
      <h2>Edit {{user.name}}</h2>
      <div class="formBlock">
        <p>Name:</p>
        <input class="input" v-model="userEdit.name" />
      </div>
      <div class="formBlock">
        <p>Avatar:</p>
        <input class="input" v-model="userEdit.avatar" />
      </div>
      <div class="formBlock">
        <p>Email:</p>
        <input class="input" v-model="userEdit.email" />
      </div>
      <div class="formBlock">
        <p>Username:</p>
        <input class="input" v-model="userEdit.username" />
      </div>
      <div class="formBlock">
        <p>Description:</p>
        <input class="input" v-model="userEdit.description" />
      </div>
      <div class="formBlock">
        <p>Address:</p>
        <input class="input" v-model="userEdit.address" />
      </div>
      <div class="formBlock">
        <p>About:</p>
        <input class="input" v-model="userEdit.about" />
      </div>
      <button class="editbutton2" v-on:click="putUser(user.id)">Editar</button>
      <button v-on:click="handleVoltar()" class="voltarbutton2">Voltar</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
var moment = require("moment");

export default {
  name: "userDetails",
  data() {
    return {
      editar: false,
      users: [],
      moment: moment,
      id: this.$route.path.split("/").pop(),
      user: {},
      userEdit: {
        id: this.id,
        createdAt: "",
        name: "",
        avatar: "",
        email: "",
        username: "",
        description: "",
        address: "",
        about: "",
        active: true
      }
    };
  },
  beforeMount() {
    this.getUsers();
  },
  methods: {
    getUserbyId() {
      this.user = this.users.find(x => x.id === this.id);
    },
    async getUsers() {
      await axios
        .get("http://5f88a118a8a2b5001641ef57.mockapi.io/ruadois/api/users")
        .then(response => {
          this.users = response.data;
        });
      this.getUserbyId();
      this.setUserDataForm();
    },
    async deleteUser(id) {
      await axios
        .delete(
          `http://5f88a118a8a2b5001641ef57.mockapi.io/ruadois/api/users/${id}`
        )
        .then(response => {
          console.log(response);
        })

        .catch(console.error("tem um erro"));

      this.handleVoltarPagina();
    },
    setUserDataForm() {
      this.userEdit.name = this.user.name;
      this.userEdit.avatar = this.user.avatar;
      this.userEdit.email = this.user.email;
      this.userEdit.username = this.user.username;
      this.userEdit.description = this.user.description;
      this.userEdit.address = this.user.address;
      this.userEdit.about = this.user.about;
      this.userEdit.createdAt = this.user.createdAt;
    },
    handleVoltar() {
      this.editar = false;
    },
    handleEditar() {
      this.editar = true;
    },
    async putUser(id) {
      await axios
        .put(
          `http://5f88a118a8a2b5001641ef57.mockapi.io/ruadois/api/users/${id}`,
          this.userEdit
        )
        .then(response => {
          console.log(response);
        })

        .catch(console.error("tem um erro"));

      window.location.reload();
    },
    handleVoltarPagina() {
      window.location.href = "/";
    }
  }
};
</script>

<style scoped>
.out {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.cards {
  justify-content: center;
  box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
  /* width: 25%; */
  margin-left: 35%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background-color: rgb(241, 239, 239);
  border-radius: 16px;
  align-items: center;
  max-width: 350px;
  /* text-align: center; */
}

.card {
  flex: 0 1 150px;
  margin: 5px;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card h2 {
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

.card .content {
  padding: 0.5rem;
}

.delbutton {
  background-color: #d30505; /* Green */
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  width: 100%;
  cursor: pointer;
}
.delbutton:active {
  background-color: #580000;
}
.editbutton {
  background-color: #016eeb; /* Green */
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}
.editbutton:active {
  background-color: #002050;
}
.box {
  background-color: rgb(221, 221, 221);
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  border-radius: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.formBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
.addbutton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
}
.addbutton:active {
  background-color: #3c883e;
}
.editbutton2 {
  background-color: #016eeb; /* Green */
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
}
.editbutton2:active {
  background-color: #002050;
}
.voltarbutton2 {
  background-color: #016eeb; /* Green */
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  margin-left: 10px;
  cursor: pointer;
}
.voltarbutton2:active {
  background-color: #002050;
}
.backbutton {
  cursor: pointer;
  font-size: 100%;
}
</style>
